
.message-card, .file-list-card1 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    position: relative;
}


.message-title, .file-name {
    margin-top: 0;
}

.message-body, .file-size {
    margin-bottom: 50px;
}

.btn-delete, .btn-upload {
    font-size: 16px;
    transition: all, 0.5s;
}

.btn-upload:hover, .btn-upload:focus {
    transform: scale(1.1);
    transition: all, 0.5s;
}


/* Css for the Navbar*/
.navbar-nav-right {
    margin-left: auto;
}

.home-page{
    padding-bottom: 180px;
}
.blur-background {
    background-image: none; /* Replace with your image path */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px); /* Adjust the blur intensity as needed */
    box-shadow: 0 -2px 15px 15px #212529;
    z-index: 0; /* Ensure the blurred background is behind other content */
    /* Add other styling properties if needed */
}

.blur-bg {
    background-image: none; /* Replace with your image path */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(50px); /* Adjust the blur intensity as needed */
    /* Add other styling properties if needed */
    z-index: 1;
}

.file-list-card {
    border-width: 0 0 1px 0;
}
.btn-delete, .btn-upload {
    font-size: 16px;
    transition: all, 0.5s;
}

.btn-upload:hover, .btn-upload:focus, .btn-delete:hover, .btn-delete:focus/*, .file-list-card:hover, .file-list-card:focus*/ {
    transform: scale(1.1);
    transition: all, 0.3s;
}


.btn-close-danger {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DC3545'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
    padding: 6px;
    transition: transform 0.2s, color 0.2s, border-radius 0.3s ease;

    border-radius: 45px;
}

.btn-close-danger:hover {
    transform: scale(1.1); /* Increase the size of the button */
    color: white; /* Change the color of the "X" to white */
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DC3545'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border-radius: 5px;
    border: 1px solid #DC3545;
    opacity: 1;
}
